.vscode/
.idea/
.catkin_tools/
build/
cmake-build-debug/
devel/
*.zip

# logs
simulation/log/
offboard_pkg/log/
ekf_pkg/log/
csi_cam/
data.mat
*.pyc
*.bag
*.bmp
*.png
*.pkl

# configs
settings.json
simulation/launch/rflysim_sphere.launch
simulation/shell/rfly-sitl.sh