<launch>
    <arg name="mav_id" default="1" />
    <node name="img_pub" pkg="simulation" type="img_pub.py"/>
    <!-- <node name="ekf_node" pkg="ekf_pkg" type="ekf_node"/> -->
    <node name="main_node" pkg="offboard_pkg" type="obs.py">
        <param name="mav_id" value="$(arg mav_id)"/>
    </node>
</launch>
